# Importation bibliothéques + fonctions from functions.py

In [5]:
import urllib.request
import pandas as pd
import numpy as np
import json
import time

SyntaxError: invalid syntax (<ipython-input-5-fc528d13307f>, line 7)

In [ ]:
# %load functions.py

# Archivage data

In [6]:
url="http://tortues.ecoquery.os.univ-lyon1.fr:8080/tiny"
output_file="tortoises_tiny"

In [7]:
hours=4
minutes=0
seconds=0

In [8]:
import urllib.request
import pandas as pd
import numpy as np
import json
import time
def get_data(raw_data):
    res=[]
    index=raw_data[0]['top']
    for i in range(len(raw_data)):
        res.append(raw_data[i]['id'])
        res.append(raw_data[i]['position'])
        res.append(0)
    return(index,res)
def get_tort_number(json_content):
    n=len(json_content['tortoises'])
    return n
pcontents=''
cond=''
start_time=time.time()


data=[]
indices=[]
while(True):
    contents = urllib.request.urlopen(url).read()
    if contents != pcontents:
        raw_data=json.loads(contents)
        top,row=get_data(raw_data['tortoises'])
        indices.append(top)
        pcontents=contents
        data.append(row)
        if time.time() - start_time>(hours*3600+minutes*60+seconds):
            break
print("it all took --- %s seconds ---" % (time.time() - start_time))
n=get_tort_number(raw_data)
columns = pd.MultiIndex.from_product([['turtoise '+str(i) for i in range(n)], ['id','position','speed']],
                                     names=['tortoises', 'characteristics'])
df = pd.DataFrame(data ,index=indices, columns=columns)
compression_opts = dict(method='zip',
                        archive_name=output_file+'.csv')
df.to_csv(output_file+'.zip',
          compression=compression_opts)

it all took --- 14401.942472696304 seconds ---

In [9]:
df = pd.DataFrame(data ,index=indices, columns=columns)

tortoises       turtoise 0                 turtoise 1                  \
characteristics         id  position speed         id  position speed
137955                   0  24882076     0          1  50421493     0
137956                   0  24882405     0          1  50421855     0
137957                   0  24882573     0          1  50422223     0
137958                   0  24882681     0          1  50422592     0
137959                   0  24882776     0          1  50422957     0
...                    ...       ...   ...        ...       ...   ...
142752                   0  25747429     0          1  52174963     0
142753                   0  25747597     0          1  52175327     0
142754                   0  25747705     0          1  52175693     0
142755                   0  25747800     0          1  52176056     0
142756                   0  25747822     0          1  52176424     0

tortoises       turtoise 2                 turtoise 3  ... turtoise 6  \
characteristics         id  position speed         id  ...      speed
137955                   2  27810769     0          3  ...          0
137956                   2  27811061     0          3  ...          0
137957                   2  27811406     0          3  ...          0
137958                   2  27811688     0          3  ...          0
137959                   2  27812074     0          3  ...          0
...                    ...       ...   ...        ...  ...        ...
142752                   2  28778226     0          3  ...          0
142753                   2  28778401     0          3  ...          0
142754                   2  28778404     0          3  ...          0
142755                   2  28778419     0          3  ...          0
142756                   2  28778711     0          3  ...          0

tortoises       turtoise 7                 turtoise 8                  \
characteristics         id  position speed         id  position speed
137955                   7  26802741     0          8  14471470     0
137956                   7  26802926     0          8  14471639     0
137957                   7  26803166     0          8  14471769     0
137958                   7  26803542     0          8  14471866     0
137959                   7  26803637     0          8  14471929     0
...                    ...       ...   ...        ...       ...   ...
142752                   7  27735062     0          8  14977334     0
142753                   7  27735200     0          8  14977385     0
142754                   7  27735539     0          8  14977518     0
142755                   7  27735789     0          8  14977640     0
142756                   7  27736022     0          8  14977812     0

tortoises       turtoise 9
characteristics         id  position speed
137955                   9  24718711     0
137956                   9  24718938     0
137957                   9  24719142     0
137958                   9  24719220     0
137959                   9  24719472     0
...                    ...       ...   ...
142752                   9  25579808     0
142753                   9  25580005     0
142754                   9  25580096     0
142755                   9  25580369     0
142756                   9  25580606     0

[4729 rows x 30 columns]

# Identify Categories : Prédictions

In [3]:
df = pd.read_pickle("./tiny.pkl")

In [ ]:
n=len(df.columns)//3 # nombre des turtles
s=[]
for i in range(n):
    s.append(df['turtoise '+str(i)]['position'].diff().fillna(np.NaN)[1:])

In [ ]:
for i in range(n):
    reg,msg=indentify_turtle(s[i])
    print('*'*20)
    print(i)
    print(msg)
    print('*'*20)