# Importation bibliothÃ©ques + fonctions from functions.py

In [1]:
import urllib.request
import pandas as pd
import numpy as np
import json
import time

In [ ]:
# %load functions.py

# Archivage data

In [4]:
url="http://tortues.ecoquery.os.univ-lyon1.fr:8080/small"
output_file="tortoises_small"

In [5]:
hours=4
minutes=0
seconds=5

In [6]:
import urllib.request
import pandas as pd
import numpy as np
import json
import time
def get_data(raw_data):
    res=[]
    index=raw_data[0]['top']
    for i in range(len(raw_data)):
        res.append(raw_data[i]['id'])
        res.append(raw_data[i]['position'])
        res.append(0)
    return(index,res)
def get_tort_number(json_content):
    n=len(json_content['tortoises'])
    return n
pcontents=''
cond=''
start_time=time.time()


data=[]
indices=[]
while(True):
    contents = urllib.request.urlopen(url).read()
    if contents != pcontents:
        raw_data=json.loads(contents)
        top,row=get_data(raw_data['tortoises'])
        indices.append(top)
        pcontents=contents
        data.append(row)
        if time.time() - start_time>(hours*3600+minutes*60+seconds):
            break
print("it all took --- %s seconds ---" % (time.time() - start_time))
n=get_tort_number(raw_data)
columns = pd.MultiIndex.from_product([['turtoise '+str(i) for i in range(n)], ['id','position','speed']],
                                     names=['tortoises', 'characteristics'])
df = pd.DataFrame(data ,index=indices, columns=columns)
compression_opts = dict(method='zip',
                        archive_name=output_file+'.csv')
df.to_csv(output_file+'.zip',
          compression=compression_opts)

it all took --- 14405.084371089935 seconds ---

In [7]:
df = pd.DataFrame(data ,index=indices, columns=columns)

tortoises       turtoise 0                 turtoise 1                  \
characteristics         id  position speed         id  position speed
137958                   0  19063115     0          1  25591553     0
137959                   0  19063117     0          1  25591870     0
137960                   0  19063396     0          1  25592160     0
137961                   0  19063457     0          1  25592423     0
137962                   0  19063840     0          1  25592659     0
...                    ...       ...   ...        ...       ...   ...
142756                   0  19726116     0          1  26481682     0
142757                   0  19726177     0          1  26481729     0
142758                   0  19726560     0          1  26481749     0
142759                   0  19726665     0          1  26481749     0
142760                   0  19726690     0          1  26481776     0

tortoises       turtoise 2                 turtoise 3  ... turtoise 96  \
characteristics         id  position speed         id  ...       speed
137958                   2  14072073     0          3  ...           0
137959                   2  14072175     0          3  ...           0
137960                   2  14072260     0          3  ...           0
137961                   2  14072328     0          3  ...           0
137962                   2  14072379     0          3  ...           0
...                    ...       ...   ...        ...  ...         ...
142756                   2  14561418     0          3  ...           0
142757                   2  14561554     0          3  ...           0
142758                   2  14561673     0          3  ...           0
142759                   2  14561775     0          3  ...           0
142760                   2  14561860     0          3  ...           0

tortoises       turtoise 97                 turtoise 98                  \
characteristics          id  position speed          id  position speed
137958                   97  28161530     0          98  32342517     0
137959                   97  28161615     0          98  32342714     0
137960                   97  28161960     0          98  32343075     0
137961                   97  28161974     0          98  32343326     0
137962                   97  28162214     0          98  32343501     0
...                     ...       ...   ...         ...       ...   ...
142756                   97  29140442     0          98  33467267     0
142757                   97  29140794     0          98  33467589     0
142758                   97  29140956     0          98  33467874     0
142759                   97  29141106     0          98  33468208     0
142760                   97  29141148     0          98  33468379     0

tortoises       turtoise 99
characteristics          id  position speed
137958                   99  20969298     0
137959                   99  20969361     0
137960                   99  20969445     0
137961                   99  20969550     0
137962                   99  20969676     0
...                     ...       ...   ...
142756                   99  21698835     0
142757                   99  21698856     0
142758                   99  21698898     0
142759                   99  21698961     0
142760                   99  21699045     0

[4744 rows x 300 columns]

# Identify Categories : PrÃ©dictions

In [ ]:
df = pd.read_pickle("./small.pkl")

In [ ]:
n=len(df.columns)//3 # nombre des turtles
s=[]
for i in range(n):
    s.append(df['turtoise '+str(i)]['position'].diff().fillna(np.NaN)[1:])

In [ ]:
for i in range(n):
    reg,msg=indentify_turtle(s[i])
    print('*'*20)
    print(i)
    print(msg)
    print('*'*20)